<!-- #        qty      watts       hours/unit    watt-hours


# coffee    10     1200       0.0666667     80
# laptop     1     50         1             50
# laundry    1     400/2500   0.5/0.583333  1658 
# house      1     11,280/yr  x             11,280 -->

 

  

  <div id="stats_carousel">
    <% total = @totalOutput %>
    <h4>In total, this array has produced enough power to...</h4>


    <div class="row">
      <p><i class="fa fa-coffee fa-2x"></i>
        Brew <%= number_with_delimiter( (total/ 80), :precision => 2, :delimeter => ',') %>cups of coffee
      </p>
    </div>

    <div class="row">
      <p><i class="fa fa-laptop fa-2x"></i>
        Run <%= number_with_delimiter( (total/ 50), :precision => 2, :delimeter => ',') %> laptops for one hour
      </p>
    </div>
    <div class="row">
      <p><%= image_tag('laundry.png', :id => "laundry_pic") %>Wash and Dry
      <%= number_with_delimiter( (total/ 1658), :precision => 2, :delimeter => ',') %></p>
    </div>
    <div class="row">
      <p><i class="fa fa-home fa-2x"></i>Power  <%= number_with_delimiter( (total/ 11280), :precision => 2, :delimeter => ',') %>homes for a year
      </p>
    </div>    


  </div>

 
 