<!-- #        qty      watts       hours/unit    watt-hours


# coffee    10     1200       0.0666667     80
# laptop     1     50         1             50
# laundry    1     400/2500   0.5/0.583333  1658 
# house      1     11,280/yr  x             11,280 -->

 
  <h4>In total, this array has produced enough energy to...</h4>
  

  <div id="stats_carousel">
    <% total = @totalOutput %>

    <div class="stats_item">
      <p class="verb">Brew
        <span class="quantity">
          <%= number_with_delimiter( (total/ 80), :precision => 2, :delimeter => ',') %>
        </span>
      </p>
      <i class="fa fa-coffee"></i>
      <p class="of_item">cups of coffee</p>
    </div>

    <div class="stats_item">
      <p class="verb">Run
        <span class="quantity">
          <%= number_with_delimiter( (total/ 50), :precision => 2, :delimeter => ',') %>
        </span>
      </p>
      <i class="fa fa-laptop"></i>
      <p class="of_item">laptops for one hour</p>
    </div>

    <div class="stats_item">
      <p class="verb">Wash and Dry
        <span class="quantity">
          <%= number_with_delimiter( (total/ 1658), :precision => 2, :delimeter => ',') %>
        </span>
      </p>
      <%= image_tag('laundry.png', :id => "laundry_pic") %>
      <p class="of_item">loads of laundry</p>
    </div>

    <div class="stats_item">
      <p class="verb">Power
        <span class="quantity">
          <%= number_with_delimiter( (total/ 11280), :precision => 2, :delimeter => ',') %>
        </span>
      </p>
      <i class="fa fa-home"></i>
      <p class="of_item">homes for a year</p>
    </div>

  </div><!--end carousel -->

 
 