
<div class = "row" id="topRow">
    <div class = "col-md-4" id="powerProduction">
      <%= render partial: 'shared/powerproduction' %>
    </div>
     <div class = "col-md-4">
      <%= render partial: 'shared/powerconsumption' %>
    </div>
     <div class = "col-md-4">
        <%= render partial: 'shared/co2' %>
    </div>
</div>

<div class = "row">
  <div class = "col-md-12">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" data-interval="100" class="active"></li>
      <li data-target="#carousel-example-generic" data-interval="100" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag(asset_path('graph.jpg'), :alt => "Promo Image") %>
        <div class="carousel-caption">
           
        </div>
      </div>
   
      <div class="item">
        <%= image_tag(asset_path('graphtwo.gif'), :alt => "Promo Image") %>

        <div class="carousel-caption">
        
        </div>
      </div>


    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>



  </div> 
</div>
<div class = "row">
<iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="45%" src="http://forecast.io/embed/#lat=40.7650&lon=-111.8500&name=University of Utah&color=#cc0000&text-color=#cc0000&font=helvetica"> </iframe>
</div>

</div>



