

<!--  _____________________________________top row_________________________________  -->
<div class="container">
  
  <div class="row" id="top_row">
    <div class="col-lg-4">
      <h1> Solar - U </h1>
      <h3>Vital Statistics: Watt-hours</h3>
      <table id="vital_stats">
        <tr>
          <th>Highest Daily Output:</th>
          <td><%= number_with_delimiter( @highestOutput, :delimeter => ',') %></td>
        </tr>
        <tr>
          <th>Average Daily Output:</th>
          <td><%= number_with_delimiter( @averageOutput, :delimeter => ',') %></td>
        </tr>
        <tr>
          <th>Total Output:</th>
          <td><%= number_with_delimiter( @totalOutput, :delimeter => ',') %></td>
        </tr>
      </table>
    </div>
 
    <div class="col-lg-8" id="forecast_div">
      <iframe id="forecast_embed" 
        type="text/html" 
        frameborder="0" 
        src="http://forecast.io/embed/#lat=40.7650&lon=-111.8500&name=University of Utah&color=#cc0000&text-color=#cc0000&font=helvetica"> 
      </iframe>
    </div>
  </div>
     </div>
<!--  _____________________________________middle row -Carousel ______________________  -->


   <div id="slides">
          <p id="current_production"></p>
          <p id="weekly_data"></p>
          <p id="power_all_time"></p> 
          <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="fa fa-chevron-left "></i></a>
          <a href="#" class="slidesjs-next slidesjs-navigation"><i class="fa fa-chevron-right  icon-large"></i></a>
   </div><!-- end slides  -->



  <!--  _____________________________________bottom row ______________________  -->
  <div class="row" id="bottom_row">
    <div class="col-lg-4">
      <%= render partial: 'shared/timetosun' %>
    </div> 
    <div class="col-lg-4"></div>  
    <div class="col-lg-4" id="stats">
      
    
      <%= render partial: "shared/statistics_page" %>

  </div>


</div><!--end container-->
