<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Solaru" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Solaru" %>">
    <%= stylesheet_link_tag asset_path("application"), media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "suncalc" %>
    <%= stylesheet_link_tag asset_path("jquery.countdown.css") %> 
    <%= stylesheet_link_tag asset_path('rickshaw.css') %>
    <%= javascript_include_tag "highcharts.js" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "jquery.countdown.js" %>
    <%= javascript_include_tag "home.js.erb" %>
  </head>
  <body>
    <header>
    </header>
    <main role="main">
      <div class="container">
         <div class="row">
           <div class="col-md-12">
             <%= yield %>
           </div>
         </div>
      </div>
    </main>
  </body>
</html>
