<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SolarU</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application.js" %>
    <%= javascript_include_tag "suncalc.js" %>
    <%= javascript_include_tag "jquery.slides.min.js" %> 
    <%= javascript_include_tag "highcharts.js" %>
    <%= javascript_include_tag "highcharts-more.js" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "jquery.countdown.js" %>
    <%= javascript_include_tag "home.js.erb" %>

  </head>
  <body>
    <div id="main_container">
             <%= yield %>
           </div>
  </body>
</html>
